
<div>
  <tabs>
    <tab tabTitle="ObservableExample1">
      <observable-example-1 class="float"></observable-example-1>
      <source-code-viewer class="float" url="assets/observable-example-1/" 
      [files]="['observable-example-1.component.ts','observable-example-1.ts']"></source-code-viewer>
    </tab>
    <tab tabTitle="ObservableExample2">
        <observable-example2 class="float"></observable-example2>
        <source-code-viewer class="flaot" url="assets/observable-example2/" 
        [files]="['observable-example2.component.ts','observable-example2.ts']"></source-code-viewer>
      </tab>
      <tab tabTitle="SubjectExample">
          <subject-example class="float"></subject-example>
          <source-code-viewer class="flaot" url="assets/subject-example/" 
          [files]="['subject-example.component.ts','subject-example.ts']"></source-code-viewer>
        </tab>
  </tabs>


</div>