


ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
   
}


li:hover {

    background-color: #111111;
}
