.subscribe{
    display: block;
    background: #3A3DFF;
    margin: 0 auto;
    padding: 14px 16px;
    color: white;
    border-style: none;
    transition: background 0.4s;
    -webkit-transition: background 0.4s;
}

.subscribe:hover{
    background: #000236
}