
<div>
  <h2>Was ist RxJs?</h2>
  <ul class="outer">
    <li>Ein Programm wird als Fluss/Strom (stream) von Daten angesehen<br>
      Folge von:
      <ul>
        <li>Events</li>
        <li>HttpRequest</li>
        <li>etc.</li>
      </ul>
    </li>
    <li>Um ein Programm schreiben zu können muss man diese Ströme verändern können</li>
    <li>Es entstand das Konzept der <b>Observable</b> welche Datenstrom und Operationen vereint</li>
    <li>RxJs implementiert dieses Konzept</li>
    <li>RxJs steht für <i>Reactive Extensions for Javascript</i></li>
  </ul>

</div>