<!--The content below is only a placeholder and can be replaced.-->
<div class="header" >
  <h1>
    Welcome to {{ title}}!
  </h1>

  
 
</div>

<tabs >
    <tab tabTitle="ObservableExample" type="ObservableExample">
        <observable-example class="floating"></observable-example>
        
          <source-code-viewer url='assets/simple-observable/'
           [files]="['simple-observable.component.ts', 'simple-observable-example.ts', 
           'simple-observable.component.html']" class="floating">
          </source-code-viewer>
          
    </tab>
    <tab tabTitle="SubjectExample" type="SubjectExample">
        <subject-example class="floating"></subject-example>
        
        <source-code-viewer url='assets/subject-example/'
        [files]="['subject-example.component.ts', 'subject-example.ts',
         'subject-example.component.html']" class="floating">
       </source-code-viewer>
     
    </tab>
  </tabs>

<div class="footer">
  made by Daniel Schröder
</div>