<!--The content below is only a placeholder and can be replaced.-->
<div class="header" >
  <h1>
    Welcome to {{ title}}!
  </h1>

  
 
</div>

<tabs >
    <tab tabTitle="ObservableExample" type="ObservableExample">
      <viewer>
          <observable-example></observable-example>
      </viewer>
    </tab>
    <tab tabTitle="SubjectExample" type="SubjectExample">
      <viewer>
        <subject-example></subject-example>
      </viewer>
    </tab>
  </tabs>

<div class="footer">
  made by Daniel Schröder
</div>