
<h2>Links</h2>

<ul class="topnav">
  <li>
    <a href='http://blog.angular-university.io/functional-reactive-programming-for-angular-2-developers-rxjs-and-observables/'>
    AngularUniversity
    </a>
  </li>
  <li>
      <a href= 'https://angular-2-training-book.rangle.io/handout/observables/using_observables.html'>
        angular-2-training-book
        </a>
  </li>
  <li>
    <a href= "https://medium.com/@benlesh/hot-vs-cold-observables-f8094ed53339">hot vs cold</a>
  </li>
  <li>
    <a href="https://vsavkin.com/managing-state-in-angular-2-applications-caf78d123d02">Todo-List with Observables</a>
  </li>
</ul>